<!DOCTYPE html>
<html>

<head>
    <link type="text/css" rel="stylesheet" href="../../css/main.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Users managmnets
    </title>
</head>
<body class="boja">
    
    <header>
<h1>Add </h1>
    </header>
    
<div class="topnav">
        <a href="/" class="active">Home</a>
        <a href="/add">Add user</a>
        <a href="/search">Search user</a>
        <a href="/delete">Delete user</a>
        
      </div>
   
    {{{body}}}

</body>
</html>